@inherits LayoutComponentBase

<div class="sidebar" style="font-family: 'Arial Nova',Arial, 'Helvetica Neue', Helvetica, sans-serif;">
    <NavMenu />
</div>

<div class="main" style="font-family: 'Arial Nova',Arial, 'Helvetica Neue', Helvetica, sans-serif;">
    <div class="content px-4">
        @Body
    </div>
</div>

